
@font-face {
    font-family: "Noto Sans JP Variable";
    src: url("./NotoSansJP-VariableFont_wght.ttf");
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: auto;    
    font-family: "Noto Sans JP Variable";
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap');

body {
    font-family: 'Noto Sans JP Variable', 'sans-serif';
}

html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    min-width: none;
    height: 100vh;
    overflow-x: hidden;
}
header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 0px 70px 0px 70px ;
    align-items: center;
}
section{
    position: relative;
}
img{
    width: 100%;
    height: auto;
}
li {
    list-style-type: none;
}
section{
    position: relative;
}